In [8]:
# seaborn 라이브러리 확인하기
# 설치된 모든 패키지 확인하기
pip list

SyntaxError: invalid syntax (<ipython-input-8-c21a68a0b1ec>, line 3)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
# tips 데이터셋 불러오기
# 레스토랑의 팁 데이터
tips_df = sns.load_dataset('tips')
tips_df.shape

(244, 7)

In [19]:
tips_df.dtypes
# category : 값이 제한적인 문자열 자료형
# 데이터프레임변수[컬럼명].astype(자료형)
# str / float / int / category

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [36]:
# day의 데이터형 변경하기
# category => str
tips_df['day'] = tips_df['day'].astype(str)
tips_df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day             object
time          category
size             int64
dtype: object

In [34]:
# day의 데이터형 변경하기
# str => category
tips_df['day'] = tips_df['day'].astype('category')
tips_df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [37]:
# total_bill의 데이터형 변경하기
# float => int
tips_df['total_bill'] = tips_df['total_bill'].astype(int)
tips_df.dtypes

total_bill       int32
tip            float64
sex           category
smoker        category
day             object
time          category
size             int64
dtype: object

In [38]:
# total_bill의 데이터형 변경하기
# int = > float
tips_df['total_bill'] = tips_df['total_bill'].astype(float)
tips_df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day             object
time          category
size             int64
dtype: object

# 잘못된 입력값 변경하기
- 데이터프레임에 지정된 데이터형이 아닌 데이터값이 들어간 경우 처리 방식

In [47]:
# total_bill 컬럼의 [1,5,6]행에 문자열값 입력
tips_df.loc[[1,5,6],['total_bill']] = 'missing'
tips_df.head(10)

  total_bill   tip     sex smoker  day    time  size
0         16  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2         21  3.50    Male     No  Sun  Dinner     3
3         23  3.31    Male     No  Sun  Dinner     2
4         24  3.61  Female     No  Sun  Dinner     4
5    missing  4.71    Male     No  Sun  Dinner     4
6    missing  2.00    Male     No  Sun  Dinner     2
7         26  3.12    Male     No  Sun  Dinner     4
8         15  1.96    Male     No  Sun  Dinner     2
9         14  3.23    Male     No  Sun  Dinner     2

In [51]:
# 원래 float였는데 missing이라는 문자열이 들어간 행이있어서 object로 바뀌었다! 
tips_df.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day             object
time          category
size             int64
dtype: object

In [53]:
# 잘못된 데이터가 들어갔다. => astype() 가능 ? Value_error
tips_df['total_bill'].astype('float')

# 안됀다!

In [ ]:
# 문자열인데 숫자형으로 강제로 변경하려면?
# pd.to_numeric(시리즈변수 / 데이터프레임[컬럼명], errors='coerce')

In [57]:
tips_df['total_bill'] = pd.to_numeric(tips_df['total_bill'], errors='coerce')

In [60]:
# tips_df.dtypes # 와 float로 돌아갔다! 
tips_df.head(10) # missing이던녀석들 NaN이 되었군.

   total_bill   tip     sex smoker  day    time  size
0        16.0  1.01  Female     No  Sun  Dinner     2
1         NaN  1.66    Male     No  Sun  Dinner     3
2        21.0  3.50    Male     No  Sun  Dinner     3
3        23.0  3.31    Male     No  Sun  Dinner     2
4        24.0  3.61  Female     No  Sun  Dinner     4
5         NaN  4.71    Male     No  Sun  Dinner     4
6         NaN  2.00    Male     No  Sun  Dinner     2
7        26.0  3.12    Male     No  Sun  Dinner     4
8        15.0  1.96    Male     No  Sun  Dinner     2
9        14.0  3.23    Male     No  Sun  Dinner     2

# 피클로 저장하고 불러오기

- 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장한다.
- 피클의 유래 : 데이터를 오래 보관한다.
    - 피클 :파일을 저장하는 방식중 하나
    
- 피클로 저장하기
    - 데이터프레임변수.to_pickle(파일경로)
    - 시리즈변수.to_pickle(파일경로)
    
- 피클 파일 읽기
    - pd.read_pickle(파일경로)

In [3]:
df = pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0  0.456657 -1.202162 -1.033051  0.936377 -0.100535
1 -0.034679  0.620473 -0.122500  0.117905  1.534823
2 -1.140944 -0.703452 -0.297184 -1.642880 -1.354095
3 -1.027387 -0.920876 -0.340094 -1.661307 -0.186398
4 -0.679135  1.754345  1.053727  0.953768 -0.370610