In [1]:
import numpy as np
import pandas as pd

# pandas03

- 인덱싱:특정 셀을 조회하는 기능
- 행 인덱싱
- loc메소드
- iloc 메소드

# 컬럼 인덱싱

- 데이터프레임[컬럼명]
- 데이터프레임.컬럼명
- 데이터프레임[[컬럼명1, 컬럼명2 ...]]

In [52]:
# 데이터 정의(딕셔너리 리스트 방식)
data = {'kor':[40,55,66],
        'math':[70,80,90],
        'eng':[17,16,98]
       }
df1 = pd.DataFrame(data, index=['user1','user2','user3'])
print(df1['kor'])
print('*'*50)
print(df1.kor)
print('*'*50)
print(df1[['kor','math']])

user1    40
user2    55
user3    66
Name: kor, dtype: int64
**************************************************
user1    40
user2    55
user3    66
Name: kor, dtype: int64
**************************************************
       kor  math
user1   40    70
user2   55    80
user3   66    90

## 컬럼추가
- 데이터프레임[컬럼명] = [값1, 값2....]
- 데이터프레임[컬럼명] = pd.Series([값1, 값2...])

In [14]:
df1['sci'] = [100,50,80]
df1

       kor  math  eng  sci
user1   40    70   17  100
user2   55    80   16   50
user3   66    90   98   80

In [29]:
python = pd.Series([90,80,60,])
print(python)
print(type(python))

0    90
1    80
2    60
dtype: int64
<class 'pandas.core.series.Series'>

In [67]:
df1['python'] = [90,60,70]
print(df1)
print('*'*50)
test = pd.Series([10,15,20], index=['user1', 'user2', 'user3'])
print(test)
print('*'*50)
df1['test'] = test
df1

       kor  math  eng  python  test
user1   40    70   17      90    10
user2   55    80   16      60    15
user3   66    90   98      70    20
**************************************************
user1    10
user2    15
user3    20
dtype: int64
**************************************************

       kor  math  eng  python  test
user1   40    70   17      90    10
user2   55    80   16      60    15
user3   66    90   98      70    20

# 데이터형 확인

- 데이터프레임.info()
- 데이터프레임.dtypes

In [23]:
print(df1.info())
print('*'*50)
print(df1.dtypes)

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, user1 to user3
Data columns (total 5 columns):
kor       3 non-null int64
math      3 non-null int64
eng       3 non-null int64
sci       3 non-null int64
python    3 non-null int64
dtypes: int64(5)
memory usage: 144.0+ bytes
None
**************************************************
kor       int64
math      int64
eng       int64
sci       int64
python    int64
dtype: object

## 컬럼 삭제

- 데이터프레임[컬럼명
- 데이터프레임 = 데이터프레임.drop([컬럼명1, 컬럼명2], axis=1)
        axis가 0이면 행이 삭제된다는데...

In [35]:
print(df1)
print('*'*50)
del df1['python']
print(df1)

       kor  math  eng  sci  python
user1   40    70   17  100      90
user2   55    80   16   50      60
user3   66    90   98   80      70
**************************************************
       kor  math  eng  sci
user1   40    70   17  100
user2   55    80   16   50
user3   66    90   98   80

# 컬럼의 집계함수

- 데이터프레임[컬럼명].집계함수
- mean() / max() / min() / sum() / std() / median()

In [41]:
print(df1['kor'].mean())
print(df1['kor'].max())
print(df1['kor'].min())
print(df1['kor'].std()) # 표준편차
print(df1['kor'].sum())
print(df1['kor'].median())

53.666666666666664
66
40
13.051181300301261
161
55.0

# boolean 인덱싱

- 결과값이 True / False
- 조건식
- 데이터프레임[조건식]

In [45]:
print(df1['kor'] > 50)

# kor 컬럼에서 50점이 넘는 데이터 추출
df1['kor'][df1['kor']>50]

user1    False
user2     True
user3     True
Name: kor, dtype: bool

user2    55
user3    66
Name: kor, dtype: int64

In [62]:
# math 컬럼이 55점인 학생의 전체 데이터
df1['math'] ==  70
df1[df1['math']==70]

import math
math.ceil(df1['eng'].mean())

44

In [60]:
# 퀴즈 : eng 과목의 평균점수보다 큰 데이터 출력

df1[df1['eng'] > df1['eng'].mean()]

       kor  math  eng
user3   66    90   98